<header>
    <nav class="d-flex justify-content-between border-bottom p-2">
        <h1 class="fs-4"><a href="/" class="text-black text-decoration-none">Members Only</a></h1>
    
        <div class="d-flex align-items-center">
            <ul class="list-unstyled d-flex gap-5 m-0 align-items-center">
                <li><a href="/" class="text-black text-decoration-none">Posts</a></li>
                <li><a href="/login" class="text-black text-decoration-none">Login</a></li>
                <li><a href="/register" class="text-black text-decoration-none">Sign Up</a></li>
            </ul>
        </div>
        
    </nav>

</header>