<h1>Account</h1>
<% if(user.admin) { %>
    <h2>Admin Privileges Granted</h2>
<% } %>

<div>
    <label for="f_name">First Name</label>
    <p><%= user.f_name %></p>
</div>

<div>
    <label for="l_name">Last Name</label>
    <p><%= user.l_name %></p>
</div>

<div>
    <label for="memebership">Membership Status</label>
    <% if(user.membership) { %>
        <p>Active</p>
    <% } else {%>
        <p>Not Active</p>
    <% } %>

    <% if(!user.membership) { %>
        <a href="/activate-membership">Activate Membership</a>
    <% } %>

    <% if(!user.admin) { %>
        <a href="/admin">Activate Admin Privileges</a>
    <% } %>



    <a href="/">Go back home</a>
</div>