<div class="w-100 d-flex justify-content-center align-items-center">
    <form action="/admin" method="POST" class="d-flex flex-column p-5 gap-3 border border-black rounded shadow w-25">
        <h1>Admin Privileges</h1>
        <input type="text" name="code" id="code" placeholder="Admin Code" required class="px-1 py-2">
        <button type="submit" class="border border-black rounded bg-primary text-white p-2">Set Admin Status</button>
    </form>
    
    <%- include('partials/errors.ejs') %>
</div>
