<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Admin Privileges</h1>

    <form action="/admin" method="POST">
        <input type="text" name="code" id="code" placeholder="Admin Code" required>
        <button type="submit">Set Admin Status</button>
    </form>

    <%- include('partials/errors.ejs') %>
</body>
</html>