<div class="w-100 d-flex justify-content-center align-items-center">
    <form action="/create-post" method="POST" class="d-flex flex-column p-5 gap-3 border border-black rounded shadow w-25">
        <h2 class="text-center">Create Post</h2>
        <input type="text" name="title" id="title" placeholder="Post title" required>
        <textarea name="message" id="message" placeholder="Post Message" rows="5" required></textarea>

        <button type="submit" class="border border-black rounded bg-primary text-white p-2">Create Post</button>
    
        <%- include('partials/errors.ejs') %>
    </form>
</div>
