<div class="w-100 d-flex justify-content-center align-items-center">
    <form action="/login" method="POST" class="d-flex flex-column p-5 gap-3 border border-black rounded shadow">
        <h2 class="text-center">Log In</h2>
        <div class="d-flex flex-column">
            <label for="username">Username <p class="text-danger d-inline">*</p></label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password <p class="text-danger d-inline">*</p></label>
            <input type="password" name="password" id="password" required>
        </div>
    
    
    
        <button type="submit" class="border border-black rounded bg-primary text-white p-2">Log In</button>
        <p>Don't have an account? <a href="/register" class="text-decoration-none">Register Here</a></p>
    </form>
</div>

<%- include('partials/errors.ejs') %>