<h1>Activate Membership</h1>

<form action="/activate-membership" method="POST">
    <input type="text" name="code" id="code" placeholder="Membership Code" required>
    <button type="submit">Activate</button>
</form>

<%- include('partials/errors.ejs') %>