<div class="w-100 d-flex justify-content-center align-items-center">
    <form action="/activate-membership" method="POST" class="d-flex flex-column p-5 gap-3 border border-black rounded shadow w-25">
        <h1>Activate Membership</h1>
        <input type="text" name="code" id="code" placeholder="Membership Code" required class="py-2 px-1">
        <button type="submit" class="border border-black rounded bg-primary text-white p-2">Activate</button>
    </form>
</div>

<%- include('partials/errors.ejs') %>